<section id="deviseauth">
  <h3>Welcome to mylaicosspace </h3>

  <div id="currservices">

    <div class="alert alert-info">
      Account Information:
    </div>

    <% @authentications.each do |authentication| %>
        <div class="services_used">
          <!-- %= image_tag "#{service.provider}_64.png", :size => "64x64" % -->
          <div class = "user">
            <div class="line1">Name: <%= authentication.uname %> (ID: <%= authentication.uid %>)</div>
            <div class="line2">Email: <%= authentication.uemail != '' ? authentication.uemail : 'not set' %></div>
            <div class="line3">
              <% @authentications.count == 1 ? @msg = 'Removing the last account linked might lock you out of your account if you do not know the email/password sign-in of your local account!' : @msg = '' %>
              <!-- %= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication service? ' + @msg, :method => :delete, :class => "remove" % -->
            </div>
          </div>
        </div>
    <% end %>
  </div>

</section>