<section id="deviseauth">
  <h3>Welcome to Mylaicosspace </h3>

  <div id="currservices">

  <% @authentications.each do |authentication| %>
        <div class="services_used">
          <!-- %= image_tag "#{service.provider}_64.png", :size => "64x64" % -->
          <div class = "user">
            <p> Mylaicosspace in its current version, features following views<sup>(1)</sup> </p>
            <ul class="list-style">
              <li> Viewing the most liked album that you have uploaded </li>
              <li> Viewing the most liked photo that you have uploaded </li>
              <li> Displays top 5 friends by the photo like count </li>
              <li> Friends mode - Friends view of the above feature </li>
            </ul>
             <p>
               <b><sup>(1)</sup></b> Views are based on underlying permission settings of the users facebook account.<br/>
             </p>
              <% @authentications.count == 1 ? @msg = 'Removing the last account linked might lock you out of your account if you do not know the email/password sign-in of your local account!' : @msg = '' %>
              <!-- %= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication service? ' + @msg, :method => :delete, :class => "remove" % -->
            </div>
        </div>
    <% end %>
  </div>

</section>