<h3>Album#index</h3>
<%  @albums.each do |album| %>
<div class="row">
 <div class="span3"> <p> <%= album['name']  %> </p> </div>
 <div class="span3"><p> <%= album['description']  %> </p> </div>
</div>
<% end %>
