<h3>facebook photo with max likes ! </h3>
<%
   unless @maxlikes.nil? && @max_likes['likes'].nil?
     all_likes = @max_likes['likes']['data']
     all_comments = (@max_likes['comments'].nil?) ? [] : @max_likes['comments']['data']
#     image_source_info = @max_likes['source']
 %>
    <div class='row'>
      <div class="span6">.
        <p>  <%=   link_to(image_tag(@max_likes['source']),@max_likes['link'], nil) %> </p>

      </div>
      <div class="span3">
        <p> <b> Likes </b></p>
        <ul>
          <% all_likes.each do |like_info| %>
              <li> <p> <%=  like_info["name"] %></p> </li>
          <% end %>
        </ul>
      </div>
    </div>
<% else %>
    <div class="alert"> Unable to locate a photo with maximum likes ! </div>
<% end %>

