<h3>Photos with most likes ! </h3>
<%= form_tag("/pictures", :method => "get") do %>
    <div class= "row">
      <div class="span9 offset0">
      <p class="text-info">
        Date filter is currently an experimental feature that allows to view most liked photos in a specific date range.
        Date input needs to be in the format of mm/dd/yyyy. In case of input format error, "from" defaults to epoch
        (beginning of time !) and "to" defaults to current date.
     </div>
      </div>
    <div class= "row">
      <div class="span2">
        <p> from: </p>
      </div>
      <div class="span2">
        <p> to: </p>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <input name="from" type="input" class="span2" placeholder="mm/dd/yyyy"/>
      </div>
      <div class="span2">
        <input name ="to" type="input" class="span2" placeholder="mm/dd/yyyy" />
      </div>
      <div class="span3">
        <%= submit_tag("Apply date filter",:class => "btn span2") %>
      </div>
    </div>
<% end %>

<%
   unless @max_likes.nil? || @max_likes['likes'].nil?
     all_likes = @max_likes['likes']['data']
 %>
    <div class='row'>
      <div class="span6">.
        <p>  <%=   link_to(image_tag(@max_likes['source']),@max_likes['link'], nil) %> </p>

      </div>
    </div>
<% else %>
    <div class="alert"> Unable to locate a photo with maximum likes ! </div>
<% end %>

