<h3>facebook photo with max likes ! </h3>
<%
   unless @max_likes.nil? || @max_likes['likes'].nil?
     all_likes = @max_likes['likes']['data']
 %>
    <div class='row'>
      <div class="span6">.
        <p>  <%=   link_to(image_tag(@max_likes['source']),@max_likes['link'], options = {"name" => "uploadlinks"}) %> </p>

      </div>
      <div class="span3">
        <p> <b> Likes </b></p>
        <ul>
          <% all_likes.each do |like_info| %>
              <li> <p> <%=  like_info["name"] %></p> </li>
          <% end %>
        </ul>
      </div>
    </div>
<% else %>
    <div class="alert"> Unable to locate a photo with maximum likes ! </div>
<% end %>
<form>
<div id="app-ui" class="field">
  <p> Save it to dropbox ! </p>
  <input type="button" value="save to dropbox" onclick="window.savedrop()"/>
  <input type="button" id="signout-button"  value="logout of dropbox" />
</div>
</form>
