// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.img
{
  margin:2px;
  border:1px solid #0000ff;
  float:left;
  text-align:center;
}
div.img img
{
  display:inline;
  max-width: 200px;
  max-height: 150px;
  margin:4px;
  border:2px solid #ffffff;
}
p.clear_div
{
	clear:both;
	margin-bottom:2px;
}
